.button {
    -fx-background-color: #3b3a36;
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 4 10 4 10;
    -fx-text-fill: #e9ece5;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}
.button:focused{
    -fx-text-fill: #96b946;
    -fx-font-weight: bold;
}
.button:hover{
    -fx-text-fill: #96b946;
    -fx-font-weight: bold;
}
.text-input{
	-fx-background-color: #b3c2bf;
	-fx-font-weight: bold;
}
.text-input:disabled {
-fx-opacity: 1.0;
}
.text-area .content{
	-fx-background-color: #b3c2bf;
	-fx-font-weight: bold;
}
.text-area:disabled{
-fx-opacity: 1.0 ;
}

.label {
	 -fx-font-weight: bold;
	 -fx-text-fill: #3b3a36;
}
.root{
    -fx-background: #e9ece5;
}

.tab-pane .tab-header-area .tab-header-background {

}

.tab-pane
{
    -fx-tab-min-width:90px;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}
.tab-pane .tab
{
    -fx-background-color: #b3c2bf;

}

.tab-pane .tab:selected
{
    -fx-background-color: #3c3c3c;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #3b3a36;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #96b946;
}